@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: black;
  --text: white;
}

.ant-checkbox {
  border: 20px solid rgb(243, 236, 236);
  margin-right: 10px;
}
.ant-btn {
  width: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: white;
}
/* className="w-20 rounded-md bg-purple-950 text-white flex justify-center items-left" */
